<div class="container-fluid col-md-12" style="display: flex;">
    <div class="col-md-8" style="display: flex;">
        <div class="col-md-7 justify-content-center">
            <mat-card class="mat-elevation-z0 seatBox">
                <span class="fa fa-user pull-right" style="font-size: 30px;"></span>
                <div class="col-md-12" *ngFor="let data of receivedData" style="display: flex; text-align: center; padding-left: 0px; border-top: 1px solid black;">
                    <div class="col-md-3">
                        <span class="fa fa-columns" (click)="bookSeat('A-1', data)" [ngClass]="{'active': isActive}"></span>
                        <span class="fa fa-columns" (click)="bookSeat('B-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('C-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('D-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('E-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('F-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('G-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('H-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('I-1', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('J-1', data)"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-columns" (click)="bookSeat('A-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('B-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('C-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('D-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('E-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('F-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('G-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('H-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('I-2', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('J-2', data)"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-columns" (click)="bookSeat('A-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('B-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('C-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('D-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('E-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('F-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('G-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('H-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('I-3', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('J-3', data)"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="fa fa-columns" (click)="bookSeat('A-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('B-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('C-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('D-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('E-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('F-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('G-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('H-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('I-4', data)"></span>
                        <span class="fa fa-columns" (click)="bookSeat('J-4', data)"></span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-5" *ngFor="let info of receivedData">
            <mat-form-field >
                <mat-label>Boarding Point</mat-label>
                <mat-select style="margin-left: 0px;">
                  <mat-option *ngFor="let boarding of boardingPoint" [value]="boarding.id">
                    {{boarding.boardingPlace}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <p class="dashed" style="color: red; margin-left: 0px;">Seat Information:</p>
            <div class="mt-3 dashed">
                <table class="table-responsive">
                    <thead style="text-align: center;">
                        <tr>
                            <th>Seats</th>
                            <th>Class</th>
                            <th>Fare</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let d of saveSeatInfo">
                        <tr>
                            <td>{{ d.no }}</td>
                            <td>{{ d.class }}</td>
                            <td>{{ d.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-3 dashed" style="display: flex;">
                <p class="text-left">Sub Total:</p>
                <p class="text-right">{{ info.seatPrice }} ৳</p>
            </div>
            <div class="mt-3 dashed" style="display: flex;">
                <p class="text-left">Service Charge:</p>
                <p class="text-right">{{ info.serviceCharge }} ৳</p>
            </div>
            <div class="mt-3" style="display: flex;">
                <p class="text-left">Grand Total:</p>
                <p class="text-right">{{ totalPrice }} ৳</p>
            </div>
            <button type="button" class="btn btn-sm btn-info" *ngIf="show" (click)="customerInfo()">{{ btnName }}</button>
        </div>
    </div>
    <div class="col-md-4" style="display: flex;">
        <div class="col-10">
            <mat-form-field>
                <mat-label>Your Mobile Number</mat-label>
                <input type="email" matInput required autocomplete="off">
            </mat-form-field>
        </div>
        <div class="col-md-2 mt-3 ml-2">
            <button type="button" class="btn btn-sm btn-danger">Verify</button>
        </div>
    </div>
</div>
<mat-dialog-actions align="end" style="color: red;">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions> 
