<input type="text"  [(ngModel)]="postSearch" name="postSearch" placeholder="Search Posts..." class="float-right mt-2 mb-2" style="text-align: right;">
<table class="table table-bordered table-striped mt-2">
    <tr>  
        <th>Posts</th>
        <th>
            <table class="table">
            <tr>
            <th>Admin</th>
            <th>01/02/02019</th>
            <th>{{totalComments}}</th>
            </tr>
        </table>
        </th>
    </tr>
    <tr *ngFor="let data of (dataSource| entrySearch: postSearch)">
            <td>{{ data.PostTitle }}</td>
            <table class="table">
                <tr *ngFor="let d of data.PostDetails">
                    <td>{{ d.Admin }}</td>
                    <td>{{ d.CommentDate | date: 'dd/MM/0yyyy' }}</td>
                    <td>
                        <span><i class="fa fa-angle-up" style="color: green;" (click)="like()"></i>{{up}}</span>
                        <span><i class="fa fa-angle-down" style="color: red;"(click)="dislike()"></i>{{down}}</span>
                    </td>
                </tr>
            </table>
    </tr>
    <!-- <thead style="color: LightSeaGreen;">
        <tr>
        <th>f</th>
        <th>Admin</th>
        <th>01/02/02019</th>
        <th>{{totalComments}}</th>
        </tr>
    </thead>
    <tbody *ngFor="let data of dataSource">
        <tr *ngFor="let d of (data.PostDetails| entrySearch: postSearch)">
        <td>{{data.PostTitle}}</td>
        <td>{{d.Admin}}</td>
        <td>{{d.CommentDate | date: 'dd/MM/0yyyy'}}</td>
        <td>
            <span><i class="fa fa-angle-up" style="color: green;" (click)="like()"></i>{{up}}</span>
            <span><i class="fa fa-angle-down" style="color: red;"(click)="dislike()"></i>{{down}}</span>
        </td>
        </tr>
    </tbody> -->
</table>